<div id="{{ id }}" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for media in medias %}
            {% set parameters = {'media': media, 'is_active': loop.first} %}

            {% if route is defined %}
                {% set routeParameters = [] %}
                {% set required = getRoutePath(route) | preg_match_all('/{(.+?)}/') %}

                {% for parameter in required %}
                    {% set value = _context[parameter].id ?? attribute(media, parameter).id ?? media.id %}

                    {% set routeParameters = routeParameters | merge({(parameter): value}) %}
                {% endfor %}

                {% set href = url(route, routeParameters) %}
                {% set parameters = parameters | merge({'href': href}) %}
            {% endif %}

            {% include 'media/carousel/item.html.twig' with parameters only %}
        {% endfor %}
    </div>
    <div class="carousel-indicators">
        {% for media in medias %}
            {% include 'media/carousel/indicator.html.twig' with {'target': id, 'slide_to': loop.index0, 'is_active': loop.first} only %}
        {% endfor %}
    </div>
    <button class="bg-black bg-opacity-50 carousel-control-prev" data-bs-target="#{{ id }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon d-block"></span>
    </button>
    <button class="bg-black bg-opacity-50 carousel-control-next" data-bs-target="#{{ id }}" data-bs-slide="next">
        <span class="carousel-control-next-icon d-block"></span>
    </button>
</div>