{% extends 'base.html.twig' %}

{% block title %}
    {{ series_count }} Serien
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row container">
        <h1>Serien: </h1>

        {% if series | length == 0 %}
            {% include 'movies/no_movies.html.twig' %}
        {% else %}
            {% include 'media/scroller/index.html.twig' with {'medias': series, 'route': 'seasons'} only %}
        {% endif %}

        {% include 'pagination.part.html.twig' %}
    </div>
{% endblock %}
