# cleanup verification codes
0 * * * *    php /var/www/html/bin/console app:cleanup:mail-verifications

# cleanup login codes
*/15 * * * * php /var/www/html/bin/console app:cleanup:login-codes

# cleanup images
* * * * *    php /var/www/html/bin/console app:images:cleanup

# download movie posters
* * * * *    php /var/www/html/bin/console app:images:download:movies

# download movie backdrops
* * * * *   php /var/www/html/bin/console app:images:download:movie-backdrops

# download series posters
* * * * *   php /var/www/html/bin/console app:images:download:series

# download series backdrops
* * * * *   php /var/www/html/bin/console app:images:download:series-backdrops

# download season posters
* * * * *   php /var/www/html/bin/console app:images:download:seasons
