<div id="{{ id }}" class="{% if main is defined %}position-relative start-50 translate-middle-x col-lg-9 {% endif %}carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for movie in movies %}
            {% include 'movies/movie_indicator.html.twig' with {'bs_target': id} %}
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for movie in movies %}
            {% include 'movies/movie_carousel_item.html.twig' %}
        {% endfor %}
    </div>
    <button class="bg-black bg-opacity-50 bg-blur-5 carousel-control-next" data-bs-target="#{{ id }}" data-bs-slide="next">
        <span class="carousel-control-next-icon d-block"></span>
    </button>
    <button class="bg-black bg-opacity-50 bg-blur-5 carousel-control-prev" data-bs-target="#{{ id }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon d-block"></span>
    </button>
</div>