<a class="scroller-item bg-blur-3 rounded-3 border-0" href="{{ url('movie-player', {movie: movie.id()}) }}">
    <img class="rounded-3" width="100%" src="https://image.tmdb.org/t/p/w300/{{ movie.poster() }}" />
    <h3 class="text-center">
        {{ movie.title() }}
        <br/>
        ({{ movie.year() }})
    </h3>
</a>