{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container col-lg-4 my-5 text-white">
	    <img class="position-relative start-50 translate-middle-x" width="192px" height="192px" src="/favicon.ico" />

        {% if error %}
            <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {{ form_start(login_form) }}
            {{ form_widget(login_form.csrf, {value: csrf_token('authenticate')}) }}
        {{ form_end(login_form) }}
    </div>
{% endblock %}
