{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container col-lg-4 my-5 text-white">
	    <img class="position-relative start-50 translate-middle-x" width="192px" height="192px" src="/favicon.ico" />

        {% if error %}
            <div class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ url('login') }}" method="post" class="container gy-3">
            <input type="hidden" name="_target_path" value="/"/>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="row">
                <label class="col-form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>

            <div class="row my-4">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="_password" />
            </div>

            <div class="row">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
