{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
    <div class="container col-lg-4 my-5 text-white">
	    {% include 'logo.part.html.twig' %}

        {{ form_start(register_user_form) }}
            {{ form_widget(register_user_form.invitation, {value: invitation.id()}) }}
        {{ form_end(register_user_form) }}
    </div>
{% endblock %}
