{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container col-lg-4 my-5 text-white">
	    <img class="position-relative start-50 translate-middle-x" width="192px" height="192px" src="/favicon.ico" />

        <div class="alert alert-warning">
            The invitation you requested does not exist or has expired.
            <br/>
            Please contact your referrer to create a new one.
        </div>
    </div>
{% endblock %}
