<div class="scroller">
    {% for media in medias %}
        {% set params = {'media': media} %}

        {% if route is defined %}
            {% set parameters = [] %}
            {% set required = getRoutePath(route) | preg_match_all('/{(.+?)}/') %}

            {% for parameter in required %}
                {% if isSeason(media) %}
                    {% set mediaId = media.getEpisodes()[0].getId() %}
                {% else %}
                    {% set mediaId = media.id %}
                {% endif %}

                {% set value = _context[parameter] ?? attribute(media, parameter).id ?? mediaId %}

                {% set parameters = parameters | merge({(parameter): value}) %}
            {% endfor %}

            {% set href = url(route, parameters) %}

            {% include 'media/scroller/item.html.twig' with (params | merge({'href': href})) only %}
        {% else %}
            {% include 'media/scroller/item.html.twig' with params only %}
        {% endif %}
    {% endfor %}
</div>