<div class="scroller">
    {% for media in medias %}
        {% set params = {'media': media, 'user': user()} %}

        {% if route is defined %}
            {% set parameters = [] %}
            {% set required = getRoutePath(route) | preg_match_all('/{(.+?)}/') %}

            {% for parameter in required %}
                {% set value = _context[parameter].id ?? attribute(media, parameter).id ?? media.id %}

                {% set parameters = parameters | merge({(parameter): value}) %}
            {% endfor %}

            {% set href = url(route, parameters) %}

            {% include 'media/scroller/item.html.twig' with (params | merge({'href': href})) only %}
        {% else %}
            {% include 'media/scroller/item.html.twig' with params only %}
        {% endif %}
    {% endfor %}
</div>