<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Richee.Me Movies" />
    <meta property="og:description" content="Private movies platform"/>
    <meta property="og:image" content="https://movies.richee.me/favicon.ico" />

    <title>{% block title %}{% endblock %} | Richee.Me Movies</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

        <style>
            body {
                overflow-x: hidden;

                {% if backdrop is defined and backdrop is not null %}
                    background: url("https://image.tmdb.org/t/p/original{{ backdrop.getFile() }}") center center no-repeat fixed;
                    background-size: cover;
                {% endif %}
            }
        </style>
    {% endblock %}

    {% block scripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-dark text-white">
    {% if isLoggedIn() %}
        <div class="container rounded bg-blur-3 bg-opacity-50 bg-black">
            {% include 'menu.part.html.twig' %}
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>
