{% set menuItems = [
    {'var': 'movies', 'title': 'Filme', 'href': url('index')},
    {'var': 'series', 'title': 'Serien', 'href': url('series')},
    {'var': 'search_results', 'title': 'Filmanfrage', 'href': url('request-page')},
    {'var': 'users', 'title': 'Management', 'href': url('admin'), 'display': isAdmin()},
    {'title': 'Logout', 'href': url('logout')}
] %}

<nav class="navbar navbar-dark navbar-expand-sm my-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img alt="icon" width="32" height="32" src="/icon.png" />
            Menü
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar  ">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% for item in menuItems %}
                    {% set isActive = menuItem.var is defined and _context[menuItem.var] is defined %}
                    {% if menuItem.display is not defined or menuItem.display %}
                        <li class="nav-item">
                            <a
                                class="nav-link{% if isActive %} active{% endif %}"
                                href="{{ item.href }}"
                            >
                                {{ item.title }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>