{% set menuItems = [
    {
        'id': 'movies',
        'route': 'index',
    },
    {
        'id': 'series',
        'route': 'series',
    },
    {
        'id': 'request',
        'route': 'request-page',
    },
    {
        'id': 'admin',
        'route': 'admin',
        'display': isAdmin()
    },
    {
        'id': 'logout',
        'route': 'logout'
    }
] %}
{% set route = app.request.get('_route') %}

<nav class="navbar navbar-dark navbar-expand-sm my-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url('index') }}">
            <img alt="icon" width="32" height="32" src="/icon.png" />
            {{ 'menu.title' | trans }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar  ">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% for item in menuItems %}
                    {% if item.display is not defined or item.display %}
                        <li class="nav-item">
                            <a
                                class="nav-link{% if route == item.route %} active{% endif %}"
                                href="{{ url(item.route) }}"
                            >
                                {{ ('menu.item.' ~ item.id) | trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>