<nav class="pagination justify-content-center my-3">
    <li class="page-item{% if first_page %} disabled{% endif %}">
        <a class="page-link"{% if not first_page %} href="?page={{ page - 1 }}"{% endif %}>&NestedLessLess;</a>
    </li>

    {% for i in -2..2 %}
        {% set target_page = page + i %}
        {% if target_page > -1 and target_page <= total_pages %}
            <li class="page-item{% if target_page == page %} active{% endif %}">
                <a class="page-link" href="?page={{ target_page }}">{{ target_page + 1 }}</a>
            </li>
        {% endif %}
    {% endfor %}

    <li class="page-item{% if last_page %} disabled{% endif %}">
        <a class="page-link"{% if not last_page %} href="?page={{ page + 1 }}{% endif %}">&NestedGreaterGreater;</a>
    </li>
</nav>