{% extends 'mail/base.html.twig' %}

{% block body %}
    <p>
        Die E-Mail Adresse deines Benutzerkontos wurde soeben geändert.
        <br/>
        Du wirst keine Benachrichtigungen mehr an diese E-Mail Adresse erhalten.
    </p>
{% endblock %}